# Mac
.DS_Store

# VSCode
.vscode

# Emacs
*~
\#*\#
todo.org
.projectile
client.rest

secrets/
tmp/
docker-compose.yml
__debug_bin

#files for production
src/.cache 
src/.profile
src/.env
src/go
src/sqlite3
src/*.db

# symbolic link to src folder under linux
quepasa/

src/__debug_bin.exe
src/models/qp_database_config.go
