version: '3.5'

secrets:
  pgpassword:
    external: true
  signing_secret:
    external: true

services:
  quepasa:
    image: quepasa
    ports:
      - "3000:3000"
    environment:
      - APP_ENV=production
      - PGHOST=localhost
      - PGDATABASE=quepasa_dev
      - PGPORT=5432
      - PGUSER=quepasa
      - PGPASSWORD=quepasa
      # - PGPASSWORD_FILE=/secrets/pgpassword
      - PGSSLMODE=enable
      # - SIGNING_SECRET=changeme
      - SIGNING_SECRET_FILE=/secrets/signing_secret
