version: '3'

services:
  quepasa:
    image: quepasa
    ports:
      - "3000:3000"
    environment:
      - APP_ENV=production
      - PGHOST=localhost
      - PGDATABASE=quepasa_dev
      - PGPORT=5432
      - PGUSER=quepasa
      - PGPASSWORD=quepasa
      - PGSSLMODE=enable
      - SIGNING_SECRET=changeme
